[submodule "shell_env/shell/zsh/OMZ"]
	path = shell_env/shell/zsh/OMZ
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "shell_env/shell/zsh/custom_plugins/zsh-completions"]
	path = shell_env/shell/zsh/custom_plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "syscontrol"]
	path = syscontrol
	url = https://github.com/sethc23/syscontrol.git
[submodule "sysparse"]
    path = sysparse
    url = https://github.com/sethc23/sysparse.git
